PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/database?retryWrites=true&w=majority
HF_API_KEY=your_huggingface_api_key
JWT_SECRET=your_jwt_secret
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email@example.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBK...\n-----END PRIVATE KEY-----"
